<ng-container>
    <h3>Add Project</h3>
    <mat-divider></mat-divider>
    <form class="form-container" [formGroup]="formData" (ngSubmit)="submitHandler(formData.value)">
        <div class="form-control">
            <mat-form-field>
                <input matInput placeholder="Title" name="title" formControlName="title">
            </mat-form-field>
        </div>

        <div class="form-control">
            <mat-form-field>
                <input matInput placeholder="Location" name="location" formControlName="location">
            </mat-form-field>
        </div>

        <div class="form-control">
            <mat-form-field>
                <input matInput [matDatepicker]="pickerStartDate" placeholder="Start Date" name="startDate"
                    formControlName="startDate">
                <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerStartDate></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="form-control">
            <mat-form-field>
                <input matInput [matDatepicker]="pickerEndDate" placeholder="End Date" name="endDate"
                    formControlName="endDate">
                <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerEndDate></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="form-control">
            <fh-upload 
                [ShowName]="false"
                (Change)="onProjectImageAdd($event)"
                Limit="1"
                Name="upload"
                Label="Project Cover Image"
            >
            </fh-upload>
        </div>

        <div class="form-control">
            <div class="form-field">
                <mat-checkbox name="ongoing" formControlName="ongoing">Ongoing</mat-checkbox>
            </div>
        </div>

        <div class="form-control">
            <button type="button" mat-raised-button color="warn" (click)="cancelHandler()">Cancel</button>
            <button type="submit" class="float-right" mat-raised-button color="primary">Save</button>
        </div>
    </form>
</ng-container>