<ng-container>
        <h3>Edit Category</h3>
        <mat-divider></mat-divider>
        <form class="form-container" [formGroup]="formData" (ngSubmit)="submitHandler(formData.value)">
            <div class="form-control">
                <mat-form-field>
                    <input matInput placeholder="Name" name="name" formControlName="name">
                </mat-form-field>
            </div>
    
            <div class="form-control">
                <mat-form-field>
                    <textarea matInput placeholder="Description" name="description"
                        formControlName="description"></textarea>
                </mat-form-field>
    
            </div>
    
            <div class="form-control">
                <button type="button" mat-raised-button color="warn" (click)="cancelHandler()">Cancel</button>
                <button type="submit" class="float-right" mat-raised-button color="primary">Save</button>
            </div>
        </form>
    </ng-container>