/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.form-container {
    margin-top: 10px;

    .form-control {
        mat-form-field {
            width: 100%;
        }
    }
}

.float {
    &-left {
        float: left;
    }

    &-right {
        float: right;
    }
}


@for $i from 1 through 10 {
    .margin-tb-#{$i} {
        margin-top: ($i * 10) * 1px;
        margin-bottom: ($i * 10) * 1px;
    }
}
